@font-face {
    font-family: "Password";
    src: url("/public/fonts/password.ttf") format("truetype")
        /* chrome firefox opera Safari, Android, iOS 4.2+*/
}

.inputUserForm {
    text-align: center;
    font-size: 25px;
}

.swal-wide {
    min-width: 70%;
}


#inputEmailPasswordSeller {
    font-family: 'Password' !important;
}

#inputEmailPasswordSeller::placeholder {
    font-family: 'Arial' !important
}

.dataTables_filter input {
    width: 160px;
    height: 30px;
    background: white;
    border-radius: 5px;
    border: 0.2px solid rgb(221, 210, 210);
}

.row {
    font-size: 12px;
}


#tableUsers {
    font-size: 12px;
}

.form-control {
    font-size: 12px;
}