#filterBtn {
    margin-top: 12px;
    background-color:#1C508A;
    color: beige;
}

.membersFilters {
    text-transform:uppercase;
}

#membersTable thead tr {
    background-color:#1C508A;
}
#membersTable thead th {
    color: beige;
}

@media (min-width: 992px) {
    .modal-lg, .modal-xl {
        max-width: 80%;
    }
}

#modalMember {
    font-size: 12px;
}

#tableMembers {
    font-size: 12px;
}

.btn {
    font-size: 12px;
}

.form-control {
    font-size: 12px;
}

.form-select {
    font-size: 12px;
}