{{!<layout/default}}
    {{#extend "css" }}
<link rel="stylesheet" type="text/css"
    href="/public/modules/agreements/agreements.css">

{{/extend}}
<br />
<h3 class="text-center animate__animated animate__fadeIn">CONVENIOS</h3>

<br>

<div class="row animate__animated animate__fadeIn">

    <div class="col-md-2">
        <button id="updateAgreement" style="border-radius: 5px;" class="btn btn-info btn-block" disabled>
            <i class="far fa-eye"></i> Ver Convenios
        </button>
    </div>
    <!--<div class="col-md-2">
        <button id="multipleAgreement" style="border-radius: 5px;" class="btn btn-warning btn-block">
            <i class="fas fa-tasks"></i> Ingreso Masivo
        </button>
    </div>-->

    <div class="col-md-2" style="text-align: right;">
        <label style="font-size: 14px;">Selecciona el sector</label>
    </div>
    <div class="col-md-2">
        <select id="searchSector" class="form-select form-select-sm
            custom-select">
            <option value="0">Todos</option>
        </select>
    </div>
    <div class="col-md-3">
        <button style="border-radius: 5px;" class="btn btn-primary btn-block"
            id="searchMembers">
            <i class="fas fa-search"></i> FILTRAR
        </button>
    </div>
    <div class="col-md-12 table-responsive">
        <br/>
            <table id="tableMembers" class="display nowrap cell-border
                table-condensed" cellspacing="0" width="100%">
                <thead>
                    <tr class="table-info">
                        <th style="background-color: #3B6FC9; border-top-left-radius: 5px;">N° SOCIO</th>
                        <th style="background-color: #3B6FC9">TIPO</th>
                        <th style="background-color: #3B6FC9">NOMBRE</th>
                        <th style="background-color: #3B6FC9">SECTOR</th>
                        <th style="background-color: #3B6FC9">SUBSIDIO</th>
                        <th style="background-color: #3B6FC9; border-top-right-radius: 5px;">CONVENIOS ACTIVOS</th>
                    </tr>
                </thead>
            </table>
            <div id="loadingMembers">
                <center>
                    <i class="fa fa-spinner fa-pulse fa-2x fa-fw"></i>
                    <span class="sr-only">Cargando...</span>
                </center>
            </div>
        </div>
    </div>

    <div class="modal fade" id="lectureModal" role="dialog" aria-labelledby="modal" data-backdrop="static" data-keyboard="false">
        <div class="modal-dialog modal-xl" role="document">
            <div class="modal-content">
                <div class="modal-header">
                    <h6 class="modal-title" id="modalLecture_title"></h6>
                    <button type="button" class="btn-close" data-dismiss="modal"
                        aria-label="Close">
                        <span aria-hidden="true"></span>
                    </button>
                </div>
                <div class="modal-body" id="modalLecture_body"></div>
                <div class="modal-footer" id="modalLecture_footer"></div>
            </div>
        </div>
    </div>

    <div class="modal fade" id="paymentModal" role="dialog" aria-labelledby="modal" data-backdrop="static" data-keyboard="false">
        <div class="modal-dialog modal-xl" role="document">
            <div class="modal-content">
                <div class="modal-header">
                    <h6 class="modal-title" id="modalPayment_title"></h6>
                    <button type="button" class="btn-close" data-dismiss="modal"
                        aria-label="Close">
                        <span aria-hidden="true"></span>
                    </button>
                </div>
                <div class="modal-body" id="modalPayment_body"></div>
                <div class="modal-footer" id="modalPayment_footer"></div>
            </div>
        </div>
    </div>

    <div class="modal fade" id="modal" role="dialog" aria-labelledby="modal"
        data-backdrop="static" data-keyboard="false">
        <div class="modal-dialog" role="document">
            <div class="modal-content">
                <div class="modal-header">
                    <h6 class="modal-title" id="modal_title"></h6>
                    <button type="button" class="btn-close" data-dismiss="modal"
                        aria-label="Close">
                        <span aria-hidden="true"></span>
                    </button>
                </div>
                <div class="modal-body" id="modal_body"></div>
                <div class="modal-footer" id="modal_footer"></div>
            </div>
        </div>
    </div>


    {{#extend "js"}}
    <script src="/public/modules/default/logoWallImg.js"></script>
    <script src="/public/modules/default/logoImg.js"></script>
    <script src="/public/modules/default/test2D.js"></script>
    <script src="/public/modules/agreements/agreements.js"></script>
    {{/extend}}