{{!< layout/default}}
<link rel="stylesheet" type="text/css" href="/public/modules/home/home.css" />
{{#extend "css"}} {{/extend}}

<div
  style="
    display: flex;
    justify-content: center;
    flex-direction: row;
    padding: 50px;
  "
>
  <div style="display: flex; background-color: white; border-radius: 25px">
    <div style="width: 300px; height: 750px">
      <div id="SwitchBoardList" style="margin-top: 20px"></div>
    </div>
    <div style="width: 1200px; height: 750px">
      <div
        id=""
        style="
          height: 400px;
          width: 1200px;
          display: flex;
          justify-content: center;
        "
      >
        <canvas id="leChart"></canvas>
      </div>
      <table
        id="tableLectures"
        class="display nowrap cell-border table-condensed"
        cellspacing="0"
        width="100%"
      >
        <thead>
          <tr class="table-danger">
            <th style="text-align: center">N° Dirección</th>
            <th style="text-align: center">Dispositivo</th>
            <th style="text-align: center">Cliente</th>
            <th style="text-align: center">Última lectura</th>
            <th style="text-align: center">Estado</th>
            <th style="text-align: center">Última Lectura (kW/h)</th>
          </tr>
        </thead>
      </table>
    </div>
  </div>
</div>

{{#extend "js"}}
<script src="/public/modules/home/home.js"></script>
{{/extend}}
