{{!<layout/default}}
    {{#extend "css" }}
<link rel="stylesheet" type="text/css"
    href="/public/modules/lecturesFull/lecturesFull.css">

{{/extend}}
<br />
<h3 class="text-center animate__animated animate__fadeIn">Facturación Mensual</h3>

<br>

<div class="row animate__animated animate__fadeIn">
    
        <!--<button class="btn btn-info btn-block" id="createSale">
            <i class="fas fa-plus-circle"></i> NUEVA LECTURA
        </button>
        <button style="border-radius: 5px;" class="btn btn-danger btn-block"
            onclick="printInvoice('personal','62631b789666da52dcc90718','627053bddd02285fb84f0ebe')">
            <i class="far fa-file-pdf"></i> TEST BOLETA
        </button>

        <button style="border-radius: 5px;" class="btn btn-secondary btn-block" onclick="sendData('personal','62759b895b56a741a10c70e0','62c6e2a97c59ce12c4597ac1')">
            <i class="far fa-file-pdf"></i> CREACIÓN
        </button>

        <button style="border-radius: 5px;" class="btn btn-secondary btn-block" onclick="showSIIPDF('1dcad2ce3138124888dcd51bc3f9a16e908ecbf5d6bb29ea96e83b01c712dd23')">
            <i class="far fa-file-pdf"></i> OBTENCIÓN
        </button>-->
    <!--<div class="col-md-2">
        <button id="updateLectures" style="border-radius: 5px;" class="btn btn-info btn-block" disabled>
            <i class="far fa-eye"></i> LECTURAS
        </button>
    </div>

    <div class="col-md-2">
        <button id="updatePayment" style="border-radius: 5px;" class="btn btn-primary btn-block" disabled>
            <i class="fas fa-dollar-sign"></i> PAGOS
        </button>
    </div>-->
    <div class="col-md-1">
        <br/>
        <button style="border-radius: 5px;" class="btn btn-sm btn-primary btn-block" onclick="selectAll(this)">
            <i class="far fa-check-square"></i> Sel. Todo
        </button>
    </div>
    <div class="col-md-1">
        <label style="font-size: 14px;">Año</label>
        <select id="searchYear" class="form-control form-select-sm form-select filterClass"></select>
    </div>
    <div class="col-md-2">
        <label style="font-size: 14px;">Mes</label>
        <select id="searchMonth" class="form-control form-select-sm form-select filterClass">
            <option value="01">ENERO</option>
            <option value="02">FEBRERO</option>
            <option value="03">MARZO</option>
            <option value="04">ABRIL</option>
            <option value="05">MAYO</option>
            <option value="06">JUNIO</option>
            <option value="07">JULIO</option>
            <option value="08">AGOSTO</option>
            <option value="09">SEPTIEMBRE</option>
            <option value="10">OCTUBRE</option>
            <option value="11">NOVIEMBRE</option>
            <option value="12">DICIEMBRE</option>
        </select>
    </div>
    <div class="col-md-2">
        <label style="font-size: 14px;">Selecciona el sector</label>
        <select id="searchSector" class="form-control form-select-sm form-select filterClass">
            <option value="0">Seleccione</option>
        </select>
    </div>
    <div class="col-md-1">
        <button style="border-radius: 5px;" class="btn btn-sm btn-primary btn-block filterClass"
            id="searchMembers">
            <i class="fas fa-search"></i> Filtrar
        </button>
    </div>

    <div class="col-md-1">
        <button style="border-radius: 5px;" class="btn btn-sm btn-info btn-block filterClass" id="calculateLectures">
            <i class="fas fa-calculator"></i> Calcular
        </button>
    </div>
    <div class="col-md-1">
        <button style="border-radius: 5px;" class="btn btn-sm btn-danger btn-block filterClass" id="saveLectures" onclick="saveMultiple()">
            <i class="fas fa-save"></i> Generar
        </button>
    </div>
    <div class="col-md-2 btn-calculate">
        <button style="border-radius: 5px;" class="btn btn-sm btn-primary btn-block" onclick="printInvoiceMultiple()">
            <i class="fas fa-print"></i> Seleccionar Imprimir / Enviar
        </button>
    </div>

    <div class="col-md-1 btn-print" style="display: none">
        <button style="border-radius: 5px;" class="btn btn-sm btn-danger btn-block" onclick="printCancel()">
            <i class="fas fa-times"></i> Cancelar
        </button>
    </div>
    
    <div class="col-md-2 btn-print" style="display: none">
        <button style="border-radius: 5px;" class="btn btn-sm btn-primary btn-block" onclick="printMultiple()">
            <i class="fas fa-print"></i> Imprimir
        </button>
    </div>

    <!--<div class="col-md-1 btn-print" style="display: none">
        <button style="border-radius: 5px;" class="btn btn-sm btn-warning btn-block" onclick="sendMultiple()">
            <i class="fas fa-envelope-open-text"></i> Enviar E-Mail
        </button>
    </div>-->

    <div class="col-md-12 table-responsive">
        <br/>
            <table id="tableMembers" class="display nowrap cell-border
                table-condensed" cellspacing="0" width="100%">
                <thead>
                    <tr class="table-info">
                        <th style="background-color: #3B6FC9; border-top-left-radius: 5px;">SEL.</th>
                        <th style="background-color: #3B6FC9; border-top-left-radius: 5px;">SEL.</th>
                        <th style="background-color: #3B6FC9;">N° SOCIO</th>
                        <!--<th style="background-color: #3B6FC9">TIPO</th>-->
                        <th style="background-color: #3B6FC9">NOMBRE</th>
                        <th style="background-color: #3B6FC9">CONSUMO MTS<sup>3</sup></th>
                        <th style="background-color: #3B6FC9">CARGO FIJO (+)</th>
                        <th style="background-color: #3B6FC9">SUBSIDIO (-)</th>
                        <th style="background-color: #3B6FC9">ALCANTARILLADO (+)</th>
                        <th style="background-color: #3B6FC9">MULTA 20% (+)</th>
                        <th style="background-color: #3B6FC9">CONSUMO (=)</th>
                        <th style="background-color: #3B6FC9">OTROS (+)</th>
                        <th style="background-color: #3B6FC9">SALDO (+)</th>
                        <th style="background-color: #3B6FC9">INT 3% (+)</th>
                        <th style="background-color: #3B6FC9">A FAVOR (-)</th>
                        <th style="background-color: #3B6FC9">TOTAL (=)</th>
                        <th style="background-color: #3B6FC9">DETALLE</th>
                        <th style="background-color: #3B6FC9; border-top-right-radius: 5px;">PDF</th>
                    </tr>
                </thead>
            </table>
            <!--<div id="loadingMembers">
                <center>
                    <i class="fa fa-spinner fa-pulse fa-2x fa-fw"></i>
                    <span class="sr-only">Cargando...</span>
                </center>
            </div>-->
        </div>
    </div>

    <div class="modal fade" id="lectureModal" role="dialog" aria-labelledby="modal" data-backdrop="static" data-keyboard="false">
        <div class="modal-dialog modal-lg" role="document">
            <div class="modal-content">
                <div class="modal-header">
                    <h6 class="modal-title" id="modalLecture_title"></h6>
                    <button type="button" class="btn-close" data-dismiss="modal"
                        aria-label="Close">
                        <span aria-hidden="true"></span>
                    </button>
                </div>
                <div class="modal-body" id="modalLecture_body"></div>
                <div class="modal-footer" id="modalLecture_footer"></div>
            </div>
        </div>
    </div>

    <div class="modal fade" id="paymentModal" role="dialog" aria-labelledby="modal" data-backdrop="static" data-keyboard="false">
        <div class="modal-dialog modal-xl" role="document">
            <div class="modal-content">
                <div class="modal-header">
                    <h6 class="modal-title" id="modalPayment_title"></h6>
                    <button type="button" class="btn-close" data-dismiss="modal"
                        aria-label="Close">
                        <span aria-hidden="true"></span>
                    </button>
                </div>
                <div class="modal-body" id="modalPayment_body"></div>
                <div class="modal-footer" id="modalPayment_footer"></div>
            </div>
        </div>
    </div>

    <div class="modal fade" id="modal" role="dialog" aria-labelledby="modal"
        data-backdrop="static" data-keyboard="false">
        <div class="modal-dialog" role="document">
            <div class="modal-content">
                <div class="modal-header">
                    <h6 class="modal-title" id="modal_title"></h6>
                    <button type="button" class="btn-close" data-dismiss="modal"
                        aria-label="Close"> 
                        <span aria-hidden="true"></span>
                    </button>
                </div>
                <div class="modal-body" id="modal_body"></div>
                <div class="modal-footer" id="modal_footer"></div>
            </div>
        </div>
    </div>

    <div class="modal fade" id="modalProgress" role="dialog" aria-labelledby="modal" data-backdrop="static" data-keyboard="false">
        <div class="modal-dialog" role="document">
            <div class="modal-content">
                <div class="modal-header">
                    <span id="progressTitle"></span>
                </div>
                <div class="modal-body">
                    <div class="progress">
                        <div id="progressBar" class="progress-bar" style="width:70%"></div>
                    </div>
                </div>
                <div class="modal-footer" id="modal_footer">
                    <button type="button" class="btn-close" data-dismiss="modal" aria-label="Close"> 
                        <span aria-hidden="true"></span>
                    </button>
                </div>
            </div>
        </div>
    </div>

    {{#extend "js"}}
    <script src="/public/modules/default/logoWallImg.js"></script>
    <script src="/public/modules/default/logoImg.js"></script>
    <script src="/public/modules/default/logoWallImg90.js"></script>
    <script src="/public/modules/default/logoImg90.js"></script>
    <script src="/public/modules/default/test2D.js"></script>
    <script src="/public/modules/lecturesFull/lecturesFull.js"></script>
    <script src="/public/js/printDocuments.js"></script>
    {{/extend}}