{{!<layout/default}}
    {{#extend "css" }}
<link rel="stylesheet" type="text/css"
    href="/public/modules/lectures/lectures.css">

{{/extend}}
<br />
<h3 class="text-center animate__animated animate__fadeIn">CONSUMOS Y PAGOS</h3>

<br>

<div class="row animate__animated animate__fadeIn">
    
        <!--<button class="btn btn-info btn-block" id="createSale">
            <i class="fas fa-plus-circle"></i> NUEVA LECTURA
        </button>
        <button style="border-radius: 5px;" class="btn btn-danger btn-block"
            onclick="printInvoice('personal','62631b789666da52dcc90718','627053bddd02285fb84f0ebe')">
            <i class="far fa-file-pdf"></i> TEST BOLETA
        </button>

        <button style="border-radius: 5px;" class="btn btn-secondary btn-block" onclick="sendData('personal','62759b895b56a741a10c70e0','62c6e2a97c59ce12c4597ac1')">
            <i class="far fa-file-pdf"></i> CREACIÓN
        </button>

        <button style="border-radius: 5px;" class="btn btn-secondary btn-block" onclick="showSIIPDF('1dcad2ce3138124888dcd51bc3f9a16e908ecbf5d6bb29ea96e83b01c712dd23')">
            <i class="far fa-file-pdf"></i> OBTENCIÓN
        </button>-->
    <div class="col-md-2">
        <button id="updateLectures" style="border-radius: 5px;" class="btn btn-info btn-block" disabled>
            <i class="far fa-eye"></i> LECTURAS
        </button>
    </div>

    <div class="col-md-1">
        <button id="updatePayment" style="border-radius: 5px;" class="btn btn-primary btn-block" disabled>
            <i class="fas fa-dollar-sign"></i> PAGOS
        </button>
    </div>
    <!--<div class="col-md-2">
        <button class="btn btn-sm btn-danger" onclick="printInvoice('pdf','personal','62631b789666da52dcc90718','63b5c5af92af4e044d4cb385')"><i class="far fa-eye" style="font-size: 14px;" aria-hidden="true"></i></button>
    </div>
    <div class="col-md-2">
        <button class="btn btn-sm btn-warning" onclick="printInvoicePortrait('pdf','personal','62631b789666da52dcc90718','63b5c5af92af4e044d4cb385')"><i class="far fa-eye" style="font-size: 14px;" aria-hidden="true"></i></button>
    </div>-->
    <div class="col-md-2" style="text-align: right;">
        <label style="font-size: 14px;">Selecciona el sector</label>
    </div>
    <div class="col-md-2">
        <select id="searchSector" class="form-select form-select-sm
            form-control">
            <option value="0">Todos</option>
        </select>
    </div>
    
    <div class="col-md-2">
        <button style="border-radius: 5px;" class="btn btn-primary btn-block"
            id="searchMembers">
            <i class="fas fa-search"></i> FILTRAR
        </button>
    </div>
    <div class="col-md-1">
        <input id="searchNumber" class="form-control" placeholder="N°"/>
    </div>
    <div class="col-md-2">
        <button style="border-radius: 5px;" class="btn btn-primary btn-block"
            id="searchInvoice">
            <i class="fas fa-search"></i> Buscar por Boleta
        </button>
    </div>
    <div class="col-md-12 table-responsive">
        <br/>
            <table id="tableMembers" class="display nowrap cell-border
                table-condensed" cellspacing="0" width="100%">
                <thead>
                    <tr class="table-info">
                        <th style="background-color: #3B6FC9;
                            border-top-left-radius: 5px;">N° SOCIO</th>
                        <th style="background-color: #3B6FC9">TIPO</th>
                        <th style="background-color: #3B6FC9">NOMBRE</th>
                        <th style="background-color: #3B6FC9">SECTOR</th>
                        <th style="background-color: #3B6FC9; border-top-right-radius: 5px;">SUBSIDIO</th>
                        <!--<th style="background-color: #3B6FC9">ÚLTIMA LECTURA</th>
                        <th style="background-color: #3B6FC9;
                            border-top-right-radius: 5px;">ESTADO DEUDA</th>-->
                    </tr>
                </thead>
            </table>
            <div id="loadingMembers">
                <center>
                    <i class="fa fa-spinner fa-pulse fa-2x fa-fw"></i>
                    <span class="sr-only">Cargando...</span>
                </center>
            </div>
        </div>
    </div>

    <div class="modal fade" id="lectureModal" role="dialog" aria-labelledby="modal" data-backdrop="static" data-keyboard="false">
        <div class="modal-dialog modal-xl" role="document">
            <div class="modal-content">
                <div class="modal-header">
                    <h6 class="modal-title" id="modalLecture_title"></h6>
                    <button type="button" class="btn-close" data-dismiss="modal"
                        aria-label="Close">
                        <span aria-hidden="true"></span>
                    </button>
                </div>
                <div class="modal-body" id="modalLecture_body"></div>
                <div class="modal-footer" id="modalLecture_footer"></div>
            </div>
        </div>
    </div>

    <div class="modal fade" id="paymentModal" role="dialog" aria-labelledby="modal" data-backdrop="static" data-keyboard="false">
        <div class="modal-dialog modal-xl" role="document">
            <div class="modal-content">
                <div class="modal-header">
                    <h6 class="modal-title" id="modalPayment_title"></h6>
                    <button type="button" class="btn-close" data-dismiss="modal"
                        aria-label="Close">
                        <span aria-hidden="true"></span>
                    </button>
                </div>
                <div class="modal-body" id="modalPayment_body"></div>
                <div class="modal-footer" id="modalPayment_footer"></div>
            </div>
        </div>
    </div>


    <div class="modal fade" id="invoiceAnnulment" role="dialog" aria-labelledby="modal" data-backdrop="static" data-keyboard="false">
        <div class="modal-dialog" role="document">
            <div class="modal-content">
                <div class="modal-header">
                    <h6 class="modal-title">Anulación de boleta / aviso</h6>
                    <button type="button" class="btn-close" data-dismiss="modal"
                        aria-label="Close">
                        <span aria-hidden="true"></span>
                    </button>
                </div>
                <div class="modal-body">
                    <div class="row">
                        <div class="col-md-3">
                            Fecha anulación
                            <input id="invoiceAnnulmentDate" class="form-control form-control-sm"/>
                        </div>
                        <div class="col-md-3">
                             Número de Folio
                            <input id="invoiceAnnulmentNumber" class="form-control form-control-sm"/>
                        </div>
                    </div>
                </div>
                <div class="modal-footer" id="modalPaymentAnnulled_footer">
                    <button id="invoiceAnnulmentSave" style="border-radius: 5px;" class="btn btn-primary btn-block">
                        <i class="far fa-save"></i> Guardar Anulación
                    </button>

                    <button id="invoiceAnnulmentCancel" style="border-radius: 5px;" class="btn btn-secondary btn-block">
                        <i class="fas fa-times"></i> Cancelar
                    </button>
                </div>
            </div>
        </div>
    </div>

    <div class="modal fade" id="paymentAnnulled" role="dialog" aria-labelledby="modal" data-backdrop="static" data-keyboard="false">
        <div class="modal-dialog modal-lg" role="document">
            <div class="modal-content">
                <div class="modal-header">
                    <h6 class="modal-title">Lista de Boletas y Notas de Crédito</h6>
                    <button type="button" class="btn-close" data-dismiss="modal"
                        aria-label="Close">
                        <span aria-hidden="true"></span>
                    </button>
                </div>
                <div class="modal-body" id="modalPaymentAnnulled_body">
                    <table id="tableAnnulments" class="table cell-border table-condensed" cellspacing="0" width="100%" style="font-size: 13px">
                        <thead>
                            <tr class="table-info">
                                <th style="background-color: #3B6FC9; border-top-left-radius: 5px;">N° BOLETA</th>
                                <th style="background-color: #3B6FC9">FECHA</th>
                                <th style="background-color: #3B6FC9">PDF</th>
                                <th style="background-color: #3B6FC9">N° NOTA CRÉDITO</th>
                                <th style="background-color: #3B6FC9">FECHA</th>
                                <th style="background-color: #3B6FC9; border-top-right-radius: 5px;">PDF</th>
                            </tr>
                        </thead>
                        <tbody id="tableAnnulmentsBody">
                        </tbody>
                    </table>
                </div>
                <div class="modal-footer" id="modalPaymentAnnulled_footer"></div>
            </div>
        </div>
    </div>

    <div class="modal fade" id="modal" role="dialog" aria-labelledby="modal"
        data-backdrop="static" data-keyboard="false">
        <div class="modal-dialog" role="document">
            <div class="modal-content">
                <div class="modal-header">
                    <h6 class="modal-title" id="modal_title"></h6>
                    <button type="button" class="btn-close" data-dismiss="modal"
                        aria-label="Close">
                        <span aria-hidden="true"></span>
                    </button>
                </div>
                <div class="modal-body" id="modal_body"></div>
                <div class="modal-footer" id="modal_footer"></div>
            </div>
        </div>
    </div>

    {{#extend "js"}}
    <script src="/public/modules/default/logoWallImg.js"></script>
    <script src="/public/modules/default/logoImg.js"></script>
    <script src="/public/modules/default/logoWallImg90.js"></script>
    <script src="/public/modules/default/logoImg90.js"></script>
    <script src="/public/modules/default/test2D.js"></script>
    <script src="/public/modules/lectures/lectures.js"></script>
    <script src="/public/js/printDocuments.js"></script>
    {{/extend}}