{{!<layout/default}}
    {{#extend "css" }}
<link rel="stylesheet" type="text/css"
    href="/public/modules/lecturesManual/lecturesManual.css">

{{/extend}}
<br />
<h3 class="text-center animate__animated animate__fadeIn">PLANILLA TOMA DE ESTADO</h3>

<br>

<div class="row animate__animated animate__fadeIn">
    
    <div class="col-md-2">
        <label style="font-size: 14px;">Año</label>
        <select id="searchYear" class="form-control form-select-sm form-select"></select>
    </div>
    <div class="col-md-2">
        <label style="font-size: 14px;">Mes</label>
        <select id="searchMonth" class="form-control form-select-sm form-select">
            <option value="01">ENERO</option>
            <option value="02">FEBRERO</option>
            <option value="03">MARZO</option>
            <option value="04">ABRIL</option>
            <option value="05">MAYO</option>
            <option value="06">JUNIO</option>
            <option value="07">JULIO</option>
            <option value="08">AGOSTO</option>
            <option value="09">SEPTIEMBRE</option>
            <option value="10">OCTUBRE</option>
            <option value="11">NOVIEMBRE</option>
            <option value="12">DICIEMBRE</option>
        </select>
    </div>
    <div class="col-md-2">
        <label style="font-size: 14px;">Selecciona el sector</label>
        <select id="searchSector" class="form-control form-select-sm form-select">
            <option value="0">Seleccione</option>
        </select>
    </div>
    <div class="col-md-2">
        <button style="border-radius: 5px;" class="btn btn-primary btn-block"
            id="searchMembers">
            <i class="fas fa-search"></i> FILTRAR
        </button>
    </div>

    <div class="col-md-2">
        <button style="border-radius: 5px;" class="btn btn-info btn-block" id="downloadList" onclick="printList()">
            <i class="fas fa-file-download"></i> PLANILLA PDF
        </button>
    </div>

    <div class="col-md-2">
        <button style="border-radius: 5px;" class="btn btn-info btn-block"
            id="saveLectures">
            <i class="fas fa-save"></i> ALMACENAR
        </button>
    </div>
    <div class="col-md-12 table-responsive">
        <br/>
            <table id="tableMembers" class="display nowrap cell-border
                table-condensed" cellspacing="0" width="100%">
                <thead>
                    <tr class="table-info">
                        <th style="background-color: #3B6FC9; border-top-left-radius: 5px;">ORDEN</th>
                        <th style="background-color: #3B6FC9;">N° SOCIO</th>
                        <th style="background-color: #3B6FC9">TIPO</th>
                        <th style="background-color: #3B6FC9">NOMBRE</th>
                        <th style="background-color: #3B6FC9">DIRECCIÓN</th>
                        <th style="background-color: #3B6FC9">LECTURA ANTERIOR</th>
                        <th style="background-color: #3B6FC9">LECTURA</th>
                        <th style="background-color: #3B6FC9">CONSUMO</th>
                        <th style="background-color: #3B6FC9;
                            border-top-right-radius: 5px;">ACTUALIZADO AL</th>
                    </tr>
                </thead>
            </table>
        </div>
    </div>

    <div class="modal fade" id="lectureModal" role="dialog" aria-labelledby="modal" data-backdrop="static" data-keyboard="false">
        <div class="modal-dialog modal-xl" role="document">
            <div class="modal-content">
                <div class="modal-header">
                    <h6 class="modal-title" id="modalLecture_title"></h6>
                    <button type="button" class="btn-close" data-dismiss="modal"
                        aria-label="Close">
                        <span aria-hidden="true"></span>
                    </button>
                </div>
                <div class="modal-body" id="modalLecture_body"></div>
                <div class="modal-footer" id="modalLecture_footer"></div>
            </div>
        </div>
    </div>

    <div class="modal fade" id="paymentModal" role="dialog" aria-labelledby="modal" data-backdrop="static" data-keyboard="false">
        <div class="modal-dialog modal-xl" role="document">
            <div class="modal-content">
                <div class="modal-header">
                    <h6 class="modal-title" id="modalPayment_title"></h6>
                    <button type="button" class="btn-close" data-dismiss="modal"
                        aria-label="Close">
                        <span aria-hidden="true"></span>
                    </button>
                </div>
                <div class="modal-body" id="modalPayment_body"></div>
                <div class="modal-footer" id="modalPayment_footer"></div>
            </div>
        </div>
    </div>

    <div class="modal fade" id="modal" role="dialog" aria-labelledby="modal"
        data-backdrop="static" data-keyboard="false">
        <div class="modal-dialog" role="document">
            <div class="modal-content">
                <div class="modal-header">
                    <h6 class="modal-title" id="modal_title"></h6>
                    <button type="button" class="btn-close" data-dismiss="modal"
                        aria-label="Close">
                        <span aria-hidden="true"></span>
                    </button>
                </div>
                <div class="modal-body" id="modal_body"></div>
                <div class="modal-footer" id="modal_footer"></div>
            </div>
        </div>
    </div>


    {{#extend "js"}}
    <script src="/public/modules/default/logoWallImg.js"></script>
    <script src="/public/modules/default/logoImg.js"></script>
    <script src="/public/modules/default/test2D.js"></script>
    <script src="/public/modules/lecturesManual/lecturesManual.js"></script>
    {{/extend}}