{{!<layout/default}}
    {{#extend "css" }}
<link rel="stylesheet" type="text/css"
    href="/public/modules/monthSummary/monthSummary.css">
{{/extend}}
<br />
<h3 class="text-center animate__animated animate__fadeIn">RESUMEN MENSUAL INGRESOS</h3>
<br>
<div class="row">
    <div class="col-md-2">
        <label style="font-size: 14px;">Sector</label>
        <select id="searchSector" class="form-select form-select-sm
            custom-select">
            <option value="0">TODOS</option>
        </select>
    </div>
    <div class="col-md-2">
        <label style="font-size: 14px;">Medio de Pago</label>
        <select id="searchInvoiceType" class="form-select form-select-sm
            custom-select">
            <option value="BOLETAS">SÓLO BOLETAS</option>
            <option value="FACTURAS">SÓLO FACTURAS</option>
            <option value="0">TODOS</option>
        </select>
    </div>
    <div class="col-md-2">
        <label style="font-size: 14px;">Año</label>
        <select id="searchYear" class="form-control form-select-sm form-select"></select>
    </div>
    <div class="col-md-2">
        <label style="font-size: 14px;">Mes</label>
        <select id="searchMonth" class="form-control form-select-sm form-select">
            <option value="01">ENERO</option>
            <option value="02">FEBRERO</option>
            <option value="03">MARZO</option>
            <option value="04">ABRIL</option>
            <option value="05">MAYO</option>
            <option value="06">JUNIO</option>
            <option value="07">JULIO</option>
            <option value="08">AGOSTO</option>
            <option value="09">SEPTIEMBRE</option>
            <option value="10">OCTUBRE</option>
            <option value="11">NOVIEMBRE</option>
            <option value="12">DICIEMBRE</option>
        </select>
    </div>
    
    <div class="col-md-3">
        <button style="border-radius: 5px;" class="btn btn-sm btn-primary
            btn-block" id="searchSummary">
            <i class="fas fa-search"></i> FILTRAR
        </button>
    </div>
    <div class="col-md-3">
    </div>
    <div class="col-md-12">
        <br/>
    </div>
    <div class="col-md-12 col-xs-12 table-responsive">
        <table id="tableSummary" class="display nowrap cell-border table-condensed" cellspacing="0" width="100%" style="font-size: 13px;">
            <thead>
                <tr class="table-info">
                    <th style="background-color: #3B6FC9; border-top-left-radius: 5px;">DÍA</th>
                    <th style="background-color: #3B6FC9;">DESDE</th>
                    <th style="background-color: #3B6FC9;">HASTA</th>
                    <th style="background-color: #3B6FC9;">VOUCHER N°</th>
                    <th style="background-color: #3B6FC9;">EFECTIVO</th>
                    <th style="background-color: #3B6FC9;">CHEQUE</th>
                    <th style="background-color: #3B6FC9;">REDCOMPRA</th>
                    <th style="background-color: #3B6FC9;">TRANSFERENCIA</th>
                    <th style="background-color: #3B6FC9; border-top-right-radius: 5px;">TOTAL</th>
                    <th style="background-color: #3B6FC9;">EFECTIVO</th>
                    <th style="background-color: #3B6FC9;">CHEQUE</th>
                    <th style="background-color: #3B6FC9;">REDCOMPRA</th>
                    <th style="background-color: #3B6FC9;">TRANSFERENCIA</th>
                    <th style="background-color: #3B6FC9;">TOTAL</th>
                </tr>
            </thead>
        </table>
        <div id="loadingSummary">
            <center>
                <i class="fa fa-spinner fa-pulse fa-2x fa-fw"></i>
                <span class="sr-only">Cargando...</span>
            </center>
        </div>
    </div>
</div>

<div class="modal fade" id="modalPayment" role="dialog" aria-labelledby="modal">
    <div class="modal-dialog modal-xl" role="document">
        <div class="modal-content">
            <div class="modal-header">
                <h4 class="modal-title" id="modalPayment_title"></h4>
                <button type="button" class="btn-close" data-dismiss="modal"
                    aria-label="Close">
                    <span aria-hidden="true"></span>
                </button>
            </div>
            <div class="modal-body" id="modalPayment_body"></div>
            <div class="modal-footer" id="modalPayment_footer"></div>
        </div>
    </div>
</div>


<div class="modal fade" id="modal" role="dialog" aria-labelledby="modal">
    <div class="modal-dialog modal-sm" role="document">
        <div class="modal-content">
            <div class="modal-header">
                <h6 class="modal-title" id="modal_title"></h6>
                <button type="button" class="btn-close" data-dismiss="modal"
                    aria-label="Close">
                    <span aria-hidden="true"></span>
                </button>
            </div>
            <div class="modal-body" id="modal_body"></div>
            <div class="modal-footer" id="modal_footer"></div>
        </div>
    </div>
</div>
{{#extend "js"}}
<script src="/public/modules/monthSummary/monthSummary.js"></script>
{{/extend}}