{{!<layout/default}}
    {{#extend "css" }}
<link rel="stylesheet" type="text/css"
    href="/public/modules/monthSummaryChart/monthSummaryChart.css">

{{/extend}}
<br />
<h3 class="text-center animate__animated animate__fadeIn">Resumen General</h3>

<br>

<div class="row animate__animated animate__fadeIn">
    
    <div class="col-md-2">
        <label style="font-size: 13px; display: inline-block; width: 25%">Año</label>
        <select id="searchYear" class="searchClass form-control form-select-sm form-select" style="display: inline-block; width: 70%"></select>
        <br/>
        <label style="font-size: 13px; display: inline-block; width: 25%">Mes</label>
        <select id="searchMonth" class="searchClass form-control form-select-sm form-select" style="display: inline-block; width: 70%">
            <option value="01">ENERO</option>
            <option value="02">FEBRERO</option>
            <option value="03">MARZO</option>
            <option value="04">ABRIL</option>
            <option value="05">MAYO</option>
            <option value="06">JUNIO</option>
            <option value="07">JULIO</option>
            <option value="08">AGOSTO</option>
            <option value="09">SEPTIEMBRE</option>
            <option value="10">OCTUBRE</option>
            <option value="11">NOVIEMBRE</option>
            <option value="12">DICIEMBRE</option>
        </select>
    </div>
    <div class="col-md-2">
        <label style="font-size: 13px; display: inline-block; width: 25%">Sector</label>
        <select id="searchSector" class="searchClass form-control form-select-sm form-select" style="display: inline-block; width: 70%">
            <option value="0">TODOS</option>
        </select>
    </div>
    <div class="col-md-1">
        <button style="border-radius: 5px;" class="btn btn-sm btn-primary btn-block filterClass"
            id="searchMembers">
            <i class="fas fa-search"></i> Filtrar
        </button>
    </div>
    <div class="col-md-2">
        <button id="btnExcel" style="border-radius: 5px;" class="btn btn-sm btn-success btn-block" onclick="ExportToExcel('xlsx')">
            <i class="fas fa-file-excel"></i> Exportar a Excel
        </button>
        <button id="btnPDF" style="border-radius: 5px;" class="btn btn-sm btn-danger btn-block" onclick="exportToPDF()">
            <i class="fas fa-file-pdf"></i> Exportar a PDF
        </button>
    </div>
    <div class="col-md-5">
        <br/>
        <br/>
    </div>

    <div class="col-md-2">
        <br/>
        <br/>
        <br/>
        <button id="btnDebts" style="border-radius: 5px;" class="btnChart btn btn-sm btn-primary btn-block" onclick="setChart('debts')">
            <i class="fas fa-table"></i> Deudas por Mes
        </button>
        <br/>
        <br/>
        <button id="btnSectors" style="border-radius: 5px;" class="btnChart btn btn-sm btn-primary btn-block" onclick="setChart('sectors')">
            <i class="fas fa-table"></i> Resumen Mes
        </button>
        <br/>
        <br/>
        <button id="btnActualPayment" style="border-radius: 5px;" class="btnChart btn btn-sm btn-primary btn-block" onclick="setChart('actualPayment')">
            <i class="fas fa-chart-pie"></i> Pagos actuales
        </button>
        <br/>
        <br/>
        <button id="btnEndMonth" style="border-radius: 5px;" class="btnChart btn btn-sm btn-primary btn-block" onclick="setChart('endMonth')">
            <i class="fas fa-chart-pie"></i> Final de mes
        </button>
        
    </div>
    <div class="col-md-10" style="text-align: center">
        <br/>
        <br/>
        <div class="container-fluid">
            <div id="divDebts" class="col-md-12 classChart" style="display: none">
                <table id="tableDebts" class="display nowrap cell-border table table-condensed" cellspacing="0"  style="font-size: 12px; width: 100%">
                    <thead>
                        <tr class="table-info">
                            <th style="background-color: #3B6FC9; border-top-left-radius: 5px;">Mes</th>
                            <th style="background-color: #3B6FC9;">Total Mes</th>
                            <th style="background-color: #3B6FC9;">Pagado</th>
                            <th style="background-color: #3B6FC9; border-top-right-radius: 5px;">Saldo Adeudado</th>
                        </tr>
                    </thead>
                    <tbody id="tableDebtsBody">

                    </tbody>
                </table>
                <table id="tableDebtsExcel" class="display nowrap cell-border table table-condensed" cellspacing="0"  style="font-size: 12px; display: none; width: 100%">
                    <thead>
                        <tr class="table-info">
                            <th style="background-color: #3B6FC9; border-top-left-radius: 5px;">Año</th>
                            <th style="background-color: #3B6FC9;">Mes</th>
                            <th style="background-color: #3B6FC9;">Total Mes</th>
                            <th style="background-color: #3B6FC9;">Pagado</th>
                            <th style="background-color: #3B6FC9; border-top-right-radius: 5px;">Saldo Adeudado</th>
                        </tr>
                    </thead>
                    <tbody id="tableDebtsExcelBody">

                    </tbody>
                </table>
            </div>
            <div id="divSectors" class="col-md-12 classChart" style="display: none">
                <table id="tableSectors" class="display nowrap cell-border table table-condensed" cellspacing="0"  style="font-size: 12px; width: 100%">
                    <thead>
                        <tr class="table-info">
                            <th style="background-color: #3B6FC9; border-top-left-radius: 5px;">Sector</th>
                            <th style="background-color: #3B6FC9;">N° Socios</th>
                            <th style="background-color: #3B6FC9;">Metros cúbicos</th>
                            <th style="background-color: #3B6FC9;">Valor Metros cúbicos</th>
                            <th style="background-color: #3B6FC9;">Cargo Fijo</th>
                            <th style="background-color: #3B6FC9; border-top-right-radius: 5px;">Alcantarillado</th>
                        </tr>
                    </thead>
                    <tbody id="tableSectorsBody">

                    </tbody>
                </table>
                <table id="tableSectorsExcel" class="display nowrap cell-border table table-condensed" cellspacing="0"  style="font-size: 12px; display: none; width: 100%">
                    <thead>
                        <tr class="table-info">
                            <th style="background-color: #3B6FC9; border-top-left-radius: 5px;">Sector</th>
                            <th style="background-color: #3B6FC9;">N° Socios</th>
                            <th style="background-color: #3B6FC9;">Metros cúbicos</th>
                            <th style="background-color: #3B6FC9;">Valor Metros cúbicos</th>
                            <th style="background-color: #3B6FC9;">Cargo Fijo</th>
                            <th style="background-color: #3B6FC9; border-top-right-radius: 5px;">Alcantarillado</th>
                        </tr>
                    </thead>
                    <tbody id="tableSectorsExcelBody">

                    </tbody>
                </table>
            </div>
            <div id="divActualPayment" class="col-md-12 classChart" style="display: none">
                <div class="row">
                    <div class="col-md-8">
                        <div id="chartActualPayment"></div>
                    </div>
                    <div class="col-md-4">
                        <table id="tableActualPayment" class="display nowrap cell-border table table-condensed" cellspacing="0"  style="font-size: 12px; width: 100%">
                            <thead>
                                <tr class="table-info">
                                    <th style="background-color: #3B6FC9; border-top-left-radius: 5px;">Ítem</th>
                                    <th style="background-color: #3B6FC9;">Cantidad</th>
                                    <th style="background-color: #3B6FC9; border-top-right-radius: 5px;">Porcentaje</th>
                                </tr>
                            </thead>
                            <tbody id="tableActualPaymentBody">
                            </tbody>
                        </table>
                    </div>
                </div>
            </div>
            <div id="divEndMonth" class="col-md-12 classChart" style="display: none">
                <div class="row">
                    <div class="col-md-8">
                        <div id="chartEndMonth"></div>
                    </div>
                    <div class="col-md-4">
                        <table id="tableEndMonth" class="display nowrap cell-border table table-condensed" cellspacing="0"  style="font-size: 12px; width: 100%">
                            <thead>
                                <tr class="table-info">
                                    <th style="background-color: #3B6FC9; border-top-left-radius: 5px;">Ítem</th>
                                    <th style="background-color: #3B6FC9;">Cantidad</th>
                                    <th style="background-color: #3B6FC9; border-top-right-radius: 5px;">Porcentaje</th>
                                </tr>
                            </thead>
                            <tbody id="tableEndMonthBody">
                            </tbody>
                        </table>
                    </div>
                </div>
            </div>
            
        </div>
    </div>

    <div class="modal fade" id="lectureModal" role="dialog" aria-labelledby="modal" data-backdrop="static" data-keyboard="false">
        <div class="modal-dialog modal-lg" role="document">
            <div class="modal-content">
                <div class="modal-header">
                    <h6 class="modal-title" id="modalLecture_title"></h6>
                    <button type="button" class="btn-close" data-dismiss="modal"
                        aria-label="Close">
                        <span aria-hidden="true"></span>
                    </button>
                </div>
                <div class="modal-body" id="modalLecture_body"></div>
                <div class="modal-footer" id="modalLecture_footer"></div>
            </div>
        </div>
    </div>

    <div class="modal fade" id="paymentModal" role="dialog" aria-labelledby="modal" data-backdrop="static" data-keyboard="false">
        <div class="modal-dialog modal-xl" role="document">
            <div class="modal-content">
                <div class="modal-header">
                    <h6 class="modal-title" id="modalPayment_title"></h6>
                    <button type="button" class="btn-close" data-dismiss="modal"
                        aria-label="Close">
                        <span aria-hidden="true"></span>
                    </button>
                </div>
                <div class="modal-body" id="modalPayment_body"></div>
                <div class="modal-footer" id="modalPayment_footer"></div>
            </div>
        </div>
    </div>

    <div class="modal fade" id="modalInvoices" role="dialog" aria-labelledby="modal" data-backdrop="static" data-keyboard="false">
        <div class="modal-dialog modal-lg" role="document">
            <div class="modal-content">
                <div class="modal-header">
                    <h6 class="modal-title">Lista de Boletas y Notas de Crédito</h6>
                    <button type="button" class="btn-close" data-dismiss="modal"
                        aria-label="Close">
                        <span aria-hidden="true"></span>
                    </button>
                </div>
                <div class="modal-body" id="modalInvoices_body">
                    <table id="tableInvoices" class="table cell-border table-condensed" cellspacing="0" width="100%" style="font-size: 13px">
                        <thead>
                            <tr class="table-info">
                                <th style="background-color: #3B6FC9; border-top-left-radius: 5px;">N° BOLETA</th>
                                <th style="background-color: #3B6FC9">FECHA</th>
                                <th style="background-color: #3B6FC9">PDF</th>
                                <th style="background-color: #3B6FC9">N° NOTA CRÉDITO</th>
                                <th style="background-color: #3B6FC9">FECHA</th>
                                <th style="background-color: #3B6FC9; border-top-right-radius: 5px;">PDF</th>
                            </tr>
                        </thead>
                        <tbody id="tableInvoicesBody">
                        </tbody>
                    </table>
                </div>
                <div class="modal-footer" id="modalInvoices_footer"></div>
            </div>
        </div>
    </div>

    <div class="modal fade" id="modal" role="dialog" aria-labelledby="modal"
        data-backdrop="static" data-keyboard="false">
        <div class="modal-dialog" role="document">
            <div class="modal-content">
                <div class="modal-header">
                    <h6 class="modal-title" id="modal_title"></h6>
                    <button type="button" class="btn-close" data-dismiss="modal"
                        aria-label="Close"> 
                        <span aria-hidden="true"></span>
                    </button>
                </div>
                <div class="modal-body" id="modal_body"></div>
                <div class="modal-footer" id="modal_footer"></div>
            </div>
        </div>
    </div>

</div>

    {{#extend "js"}}
    <script src="/public/js/highcharts/highcharts.js"></script>
    <script src="/public/js/highcharts/highcharts-3d.js"></script>
    <script src="/public/js/highcharts/exporting.js"></script>
    <script src="/public/js/highcharts/export-data.js"></script>
    <script src="/public/js/highcharts/accessibility.js"></script>
    <script src="/public/modules/default/logoWallImg.js"></script>
    <script src="/public/modules/default/logoImg.js"></script>
    <script src="/public/modules/default/logoWallImg90.js"></script>
    <script src="/public/modules/default/logoImg90.js"></script>
    <script src="/public/modules/default/test2D.js"></script>
    <script src="/public/modules/monthSummaryChart/monthSummaryChart.js"></script>
    <script src="/public/js/printDocuments.js"></script>
    <script src="/public/js/xlsx.full.min.js"></script>
    <script src="/public/js/printDocuments.js"></script>
    {{/extend}}