{{!<layout/default}}
    {{#extend "css" }}
<link rel="stylesheet" type="text/css"
    href="/public/modules/repLectures/repLectures.css">

{{/extend}}
<br />
<h3 class="text-center animate__animated animate__fadeIn">REPORTE LECTURAS</h3>

<br>

<div class="row animate__animated animate__fadeIn">

    <div class="col-md-2">
        <label style="font-size: 13px; display: inline-block; width: 25%">Sector</label>
        <select id="searchSector" class="searchClass form-control form-select-sm form-select" style="display: inline-block; width: 70%">
            <option value="0">Seleccione</option>
        </select>
        <br/>
        <label style="font-size: 13px; display: inline-block; width: 25%">Ordenar</label>
        <select id="searchOrder" class="searchClass form-control form-select-sm form-select" style="display: inline-block; width: 70%">
            <option value="1">Orden planilla</option>
            <option value="2">N° Socio</option>
            <option value="3">Apellido</option>
            <option value="4">Nombre</option>
            <option value="5">Dirección</option>
        </select>
    </div>
    
    <div class="col-md-1">
        <input id="rbMonth" class="period" type="radio" name="period" style="font-size: 13px; display: inline-block; width: 20%" checked>Por Meses</input>
        <br/>
        <br/>
        <input id="rbYear" class="period" type="radio" name="period" style="font-size: 13px; display: inline-block; width: 20%">Por Año</input>
    </div>
    <div class="col-md-2">
        <select id="searchMonth" class="searchClass form-control form-select-sm form-select" style="display: inline-block; width: 70%">
            <option value="3">3 ÚLTIMOS</option>
            <option value="6">6 ÚLTIMOS</option>
            <option value="12">12 ÚLTIMOS</option>
        </select>
        <br/>
        <select id="searchYear" class="searchClass form-control form-select-sm form-select" style="display: inline-block; width: 70%" disabled></select>
    </div>

    <div class="col-md-1">
        Mostrar:
        <br/>
        <input id="rbConsumption" type="radio" name="show" style="font-size: 13px; display: inline-block; width: 20%" checked>Consumo</input>
        <br/>
        <input id="rbLecture" type="radio" name="show" style="font-size: 13px; display: inline-block; width: 20%">Lectura</input>
    </div>
    
    <div class="col-md-1">
        <button style="border-radius: 5px;" class="searchClass btn btn-primary btn-block"
            id="searchMembers">
            <i class="fas fa-search"></i> FILTRAR
        </button>
    </div>

    <div class="col-md-3">
        <button style="border-radius: 5px;" class="btn btn-danger btn-block" onclick="exportToPDF()">
            <i class="fas fa-file-pdf"></i> Exportar a PDF
        </button>
    </div>

    <div class="col-md-12 table-responsive">
        <br/>
            <table id="tableMembers" class="display nowrap cell-border
                table-condensed" cellspacing="0" width="100%">
                <thead>
                    <tr class="table-info" id="trHead">
                        <th style="background-color: #3B6FC9; border-top-left-radius: 5px;">ORDEN</th>
                        <th style="background-color: #3B6FC9">N° SOCIO</th>
                        <th style="background-color: #3B6FC9">NOMBRE</th>
                        <th style="background-color: #3B6FC9; border-top-right-radius: 5px; display: none;">PROMEDIO</th>
                    </tr>
                </thead>
            </table>


            <table id="tableMembersExcel" cellspacing="0" width="100%" style="display: none; font-size: 7px;">
                <thead>
                    <tr id="trHeadExcel">
                        <th style="background-color: #3B6FC9; border-top-left-radius: 5px;">ORDEN</th>
                        <th style="background-color: #3B6FC9">N° SOCIO</th>
                        <th style="background-color: #3B6FC9">NOMBRE</th>
                        <th style="background-color: #3B6FC9; border-top-right-radius: 5px; display: none;">PROMEDIO</th>
                    </tr>
                </thead>
                <tbody id="tableMembersExcelBody">

                </tbody>
            </table>
    </div>

    <div class="modal fade" id="lectureModal" role="dialog" aria-labelledby="modal" data-backdrop="static" data-keyboard="false">
        <div class="modal-dialog modal-xl" role="document">
            <div class="modal-content">
                <div class="modal-header">
                    <h6 class="modal-title" id="modalLecture_title"></h6>
                    <button type="button" class="btn-close" data-dismiss="modal"
                        aria-label="Close">
                        <span aria-hidden="true"></span>
                    </button>
                </div>
                <div class="modal-body" id="modalLecture_body"></div>
                <div class="modal-footer" id="modalLecture_footer"></div>
            </div>
        </div>
    </div>

    <div class="modal fade" id="paymentModal" role="dialog" aria-labelledby="modal" data-backdrop="static" data-keyboard="false">
        <div class="modal-dialog modal-xl" role="document">
            <div class="modal-content">
                <div class="modal-header">
                    <h6 class="modal-title" id="modalPayment_title"></h6>
                    <button type="button" class="btn-close" data-dismiss="modal"
                        aria-label="Close">
                        <span aria-hidden="true"></span>
                    </button>
                </div>
                <div class="modal-body" id="modalPayment_body"></div>
                <div class="modal-footer" id="modalPayment_footer"></div>
            </div>
        </div>
    </div>

    <div class="modal fade" id="modal" role="dialog" aria-labelledby="modal"
        data-backdrop="static" data-keyboard="false">
        <div class="modal-dialog" role="document">
            <div class="modal-content">
                <div class="modal-header">
                    <h6 class="modal-title" id="modal_title"></h6>
                    <button type="button" class="btn-close" data-dismiss="modal"
                        aria-label="Close">
                        <span aria-hidden="true"></span>
                    </button>
                </div>
                <div class="modal-body" id="modal_body"></div>
                <div class="modal-footer" id="modal_footer"></div>
            </div>
        </div>
    </div>


    {{#extend "js"}}
    <script src="/public/modules/default/logoWallImg.js"></script>
    <script src="/public/modules/default/logoImg.js"></script>
    <script src="/public/modules/default/test2D.js"></script>
    <script src="/public/modules/repLectures/repLectures.js"></script>
    {{/extend}}