{{!< layout/default}}
{{#extend "css" }}
    <link rel="stylesheet" type="text/css" href="/public/modules/services/services.css">
{{/extend}}

<h2 class="text-center">SERVICIOS</h2>

<br>

<div class="row">
    <div class="col-md-3">
        <button class="btn btn-info btn-block" id="createService">
            <i class="fas fa-plus-circle"></i> NUEVO SERVICIO
        </button>
    </div>
    <div class="col-md-3">
        <button class="btn btn-warning btn-block" id="updateService" disabled>
            <i class="fas fa-edit"></i> MODIFICAR SERVICIO
        </button>
    </div>
    <div class="col-md-3">
        
    </div>
    <div class="col-md-3">
        <button class="btn btn-primary btn-block" id="searchService">
            <i class="fas fa-search"></i> FILTRAR
        </button>
    </div>
    <div class="col-md-12 table-responsive">
        <br/>
        <table id="tableServices" class="display nowrap table table-condensed" cellspacing="0" width="100%">
            <thead>
                <tr class="table-info">
                    <th>SERVICIO</th>
                    <th>VALOR</th>
                    <th>ESTADO</th>
                </tr>
            </thead>
        </table>
        <div id="loadingServices">
            <center>
                <i class="fa fa-spinner fa-pulse fa-2x fa-fw"></i>
                <span class="sr-only">Cargando...</span>
            </center>
        </div>
    </div>
</div>

<div class="modal fade" id="serviceModal" role="dialog" aria-labelledby="modal">
    <div class="modal-dialog modal-xl" role="document">
        <div class="modal-content">
            <div class="modal-header">
                <h4 class="modal-title" id="modalService_title"></h4>
                <button type="button" class="btn-close" data-dismiss="modal" aria-label="Close">
                    <span aria-hidden="true"></span>
                </button>
            </div>
            <div class="modal-body" id="modalService_body"></div>
            <div class="modal-footer" id="modalService_footer"></div>
        </div>
    </div>
</div>

<div class="modal fade" id="modal"  role="dialog" aria-labelledby="modal" data-backdrop="static" data-keyboard="false">
    <div class="modal-dialog" role="document">
        <div class="modal-content">
            <div class="modal-header">
                <h4 class="modal-title" id="modal_title"></h4>
                <button type="button" class="btn-close" data-dismiss="modal" aria-label="Close">
                    <span aria-hidden="true"></span>
                </button>
            </div>
            <div class="modal-body" id="modal_body"></div>
            <div class="modal-footer" id="modal_footer"></div>
        </div>
    </div>
</div>
{{#extend "js"}}
    <script src="/public/modules/services/services.js"></script>
{{/extend}}