{{!<layout/default}} {{#extend "css" }}
<link
  rel="stylesheet"
  type="text/css"
  href="/public/modules/switchboard/switchboard.css"
/>
{{/extend}}
<div
  style="
    display: flex;
    justify-content: center;
    flex-direction: row;
    /* padding: 50px; */
    margin-top: 5vh;
  "
>
  <div style="display: flex; background-color: white; min-width: 90vw">
    <div
      style="
        min-width: 18vw;
        height: 80vh;
        border-right: 1px solid rgba(0, 0, 0, 0.3);
      "
    >
      <div
        style="
          background-color: #2c3e50;
          width: 100%;
          height: 60px;
          display: flex;
          justify-content: center;
          align-items: center;
        "
      >
        <button
          id="clientAddButton"
          class="btn btn-list"
          style="
            margin-bottom: 5px;
            width: 17vw;
            display: flex;
            align-items: center;
            justify-content: space-between;
            color: #fff;
            background-color: transparent;
          "
          onfocus="this.blur();"
          onclick="HandleModalSwitchboard()"
        >
          <div
            style="
              display: flex;
              flex-direction: column;
              align-items: flex-start;
            "
          >
            <p style="margin-bottom: -3px; font-size: 18px">
              Añadir nuevo EQmatic
            </p>
          </div>
          <i class="fas fa-plus"></i>
        </button>
      </div>
      <div
        id="SwitchBoardList"
        style="
          margin-top: 20px;
          display: flex;
          align-items: center;
          flex-direction: column;
        "
      ></div>
    </div>
    <div
      id="meterDiv"
      style="
        min-width: 19vw;
        height: 80vh;
        border-right: 1px solid rgba(0, 0, 0, 0.3);
        display: none;
        justify-content: center;
        padding: 0;
      "
    >
      <div
        id="meterList"
        style="
          display: flex;
          align-items: center;
          flex-direction: column;
          width: 100%;
        "
      ></div>
    </div>
    <div
      id="containerGuia"
      style="
        margin-left: 1vw;
        width: 100%;
        height: 80vh;
        /* background-color: red; */
        display: flex;
        flex-direction: column;
        align-items: center;
        justify-content: center;
      "
    >
      <img
        src="../public/img/select.svg"
        alt="logo"
        style="height: 50vh; width: 80%"
      />
      <h1 id="textIndex">Seleccione una central</h1>
    </div>
    <div
      id="containerData"
      style="
        margin-left: 1vw;
        width: 100%;
        height: 80vh;
        /* background-color: red; */
        display: none;
        flex-direction: column;
        align-items: center;
        justify-content: center;
      "
    ></div>
    <!-- <div style="width: 10vw; height: 40vh; background-color: blue"></div> -->
  </div>
  <!-- ModalMeter -->
  <div
    class="modal fade modal-width"
    id="modalAddMeter"
    data-backdrop="static"
    role="dialog"
    aria-labelledby="modal_title"
  >
    <div class="modal-dialog modal-lg2 modal-width" role="document">
      <div class="modal-content" style="background-color: #ffffff">
        <div class="modal-header" style="background: #333333; color: #fff">
          <h5 class="modal-title" id="modal_title"></h5>
          <button
            type="button"
            class="close"
            data-dismiss="modal"
            aria-label="Close"
          >
            <span aria-hidden="true">&times;</span>
          </button>
        </div>
        <div class="modal-body" id="modal_body"></div>
        <div class="modal-footer" id="modal_footer"></div>
      </div>
    </div>
  </div>
  <!-- ModalSwitchboard-->
  <div
    class="modal fade modal-width"
    id="modalAddSwitchboard"
    data-backdrop="static"
    role="dialog"
    aria-labelledby="modal_title"
  >
    <div class="modal-dialog modal-lg2 modal-width" role="document">
      <div class="modal-content" style="background-color: #ffffff">
        <div class="modal-header" style="background: #333333; color: #fff">
          <h5 class="modal-title" id="modal_title_1"></h5>
          <button
            type="button"
            class="close"
            data-dismiss="modal"
            aria-label="Close"
          >
            <span aria-hidden="true">&times;</span>
          </button>
        </div>
        <div class="modal-body" id="modal_body_1"></div>
        <div class="modal-footer" id="modal_footer_1"></div>
      </div>
    </div>
  </div>
</div>
{{#extend "js"}}
<script src="/public/modules/switchboard/switchboard.js"></script>
{{/extend}}
