@font-face {
    font-family: "digital";
    src: url("/public/fonts/DigitalNumbers-Regular.ttf") format("truetype")
    /*src: url("/public/fonts/digital-7/digital-7.ttf") format("truetype")*/
        /* chrome firefox opera Safari, Android, iOS 4.2+*/
}

.modal-lg {
    max-width: 1000px;
  }
  