@font-face {
    font-family: "digital";
    src: url("/public/fonts/DigitalNumbers-Regular.ttf") format("truetype")
    /*src: url("/public/fonts/digital-7/digital-7.ttf") format("truetype")*/
        /* chrome firefox opera Safari, Android, iOS 4.2+*/
}


.inputUserForm {
    text-align: center;
    font-size: 25px;
}

.swal-wide {
    min-width: 70%;
}


#inputEmailPasswordSeller {
    font-family: 'Password' !important;
}

#inputEmailPasswordSeller::placeholder {
    font-family: 'Arial' !important
}

.dataTables_filter input {
    width: 160px;
    height: 30px;
    background: white;
    border-radius: 5px;
    border: 0.2px solid rgb(221, 210, 210);
}

.row {
    font-size: 12px;
}


#tableInstructives {
    font-size: 12px;
}

.form-control {
    font-size: 12px;
}

label {
    font-weight: bold;
    margin-bottom: 0;
}

#meterImg {
    width: 200px;
}

#meterValue {
    font-family: 'digital';
    position: absolute;
    top: 42%;
    left: 50%;
    transform: translate(-50%, -50%);
    font-size: 34px;
}

#meterText {
    position: absolute;
    top: 62%;
    left: 55%;
    transform: translate(-50%, -50%);
    font-size: 18px;
}